{% extends "dashboard.html" %}

{% block menu_slices %}active{% endblock%}

{% block content %}

<h4>Slice Request</h4>

<div>
	<form class="form-horizontal" method="post" enctype="multipart/form-data" action="/slices/new/{{project_id}}/">
		{% csrf_token %}
		
		<table>{{ form.as_table }}</table>
		
		<hr />
		
		<label>Virtual Infrastructure Provider:</label>
		<input type="submit" value="Submit" class="btn btn-success" />
		<input type="hidden" name="next" value="/" />
	</form>
</div>
{% endblock %}
