/* --------------------------------------------- *
 * --------------- Método KISS ----------------- *
 * - Manter em ordem alfabética ---------------- *
 * - Não redefinir propriedades já definidas --- *
 * - Manter identação com 2 espaços no inicio -- *
 * - Azul da logo = #24AFED -------------------- *
 * --------------------------------------------- *
 */

* {
margin:0;
padding:0;
}

html, body {height:100%;}

body {
	margin: 0;
	padding: 0;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

#all{
	min-height:100%;
	position:relative;
	background: url(../images/bg/bg8.png) 0 0 repeat;
}

.box_dashboard{
	width: 97%;
	border: 1px solid gray;
  border-radius: 9px;
  padding:10px;
  overflow: hidden;
  float:left;
  margin-bottom: 20px;
  background-color:#F5F5F5;
}
.box_dashboard tr{
	border-bottom:1px solid gray;
}
.box_dashboard_title{
	width:100%;
	height:30px;
	border-bottom:1px solid gray;
	margin-bottom:20px;
}
.box_dashboard_title a{
	background: url(../images/icons/add.png) no-repeat 0 0;
	display:inline-table;
	width:16px;
	height:16px;
	float:right;
}

.box_home{
	width:100%;
	display:inline-table;
}
.clear {
	clear: both;
}

.content{
  padding:10px;
}
.ctl_box {
	width: 128px;
	height: 128px;
	float:left;
}
.ctl_box-on{
	background: url(../images/controller-on.png) 0 0 transparent;
}
.ctl_box-off{
	background: url(../images/controller-off.png) 0 0 transparent;
}

.ctl_box-plus{
	background: url(../images/plus.png) 0 0 transparent;
	border:dashed 1px gray;
	cursor: pointer;
}
.default_form input[type="file"] {
  margin-right:11px;
}

#footer {
	width:100%;
  color:grey;
  text-align:center;
	background-color:white;
	position:absolute;
	bottom:0;
}

.form_regular{
	margin-top:20px;
	width: 550px;
}
.form_regular tr{
	margin-bottom:12px;
	display:block;
}
.form_regular th{
	width: 184px;
	border: 0;
	font-size:11px;
	text-align: right;
}

#header {
	padding-top: 2px;
	line-height: 10px;
	background: url(../images/bg/bg5.png) 0 0 repeat;
}


#loading{
	display:none;
	background: url(../images/icons/loading.gif) no-repeat 10px 17px #FFF;
	width: 250px;
	height: 35px;
	position:absolute;
	top: 50%;
	left: 50%;
	margin-left: -125px;
	border: 1px solid #CCC;
	padding:17px 0 18px 43px;
}

#login{
  float:right;	
	margin:6px;
}

#logo{
	width: 136px;
	float:left;
}
.logo_text{
	line-height:1.2em;
	float:right;
	width:132px;
	margin:11px;
}
.logo_text a{
	text-decoration:none;
	color:white;
}
.logo_text span{
	color:#24AFED;
}

.messages{
	position:absolute;
	top:0;
	border-radius: 0 0 3px 3px;
	background-color:rgba(0, 0, 0, 0.60);
	margin-left:25%;
	padding:0 13px 4px 10px;
  color:#fff;
}
.error{
	color: #FF6347;
}

#nav_login {
	float: right;
}

#provinet_arch {
	float: right;
	padding: 10px 67px 0 0;
	width:342px;
}

.submit_button{
	border: 1px solid gray;
	border:1px solid #DFDFDF;
	padding:3px 5px;
	position: absolute;
	bottom:0;
	right:0;
}

.table_default{
	width:100%;
	text-align:center;
	border: 1px solid #949494;
}

#text_middle_strip {
	background-color: rgba(0, 0, 0, 0.60);
	border-radius: 10px;
	color: white;
	float: left;
	margin-top: 63px;
	padding: 10px;
	width: 416px;
}

#top_menu {
	margin-top: 3px;
	float: left;
	width: 100%;
	background: -moz-linear-gradient(top,  #3BCFFF 0%, #24AFED 100%); /* fade from white (0.82 opacty) to 0.16 opacity */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3BCFFF), color-stop(100%,#24AFED));
	background: -webkit-linear-gradient(top,  #3BCFFF 0%,#24AFED 100%);
	background: -o-linear-gradient(top,  #3BCFFF 0%,#24AFED 100%);
	background: -ms-linear-gradient(top,  #3BCFFF 0%,#24AFED 100%);
	background: linear-gradient(top,  #3BCFFF 0%,#24AFED 100%);
	border-top: 1px solid #24AFED;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.17);
}

#top_menu_selected {
	background: none repeat scroll 0 0 #24AFED;
	border-radius: 10px 10px 0 0;
	color: white;
}
#top_menu ul{
	margin:0;
	padding:0;
}
#top_menu li {
	float: left;
	padding-top:5px;
	list-style: none outside none;
	padding-right: 30px;
	text-align: center;
	height:17px;
}

#top_menu ul li a {
	color: white;
	padding: 6px 8px 6px 8px; /* padding of the 4 sides of each menu link */
	margin-right: 15px; /* spacing between each menu link */
	text-decoration: none;
}

#top_menu ul li a:hover, #top_menu ul li a.selected {
	color: black;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.82) 0%, rgba(255,255,255,0.16) 100%); /* fade from white (0.82 opacty) to 0.16 opacity */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.82)), color-stop(100%,rgba(255,255,255,0.16)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.82) 0%,rgba(255,255,255,0.16) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0.82) 0%,rgba(255,255,255,0.16) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.82) 0%,rgba(255,255,255,0.16) 100%);
	background: linear-gradient(top,  rgba(255,255,255,0.82) 0%,rgba(255,255,255,0.16) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1ffffff', endColorstr='#29ffffff',GradientType=0 );
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27); /* CSS3 box shadows */
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
	padding-top: 2px; /* large padding to get menu item to protrude upwards */
	padding-bottom: 3px; /* large padding to get menu item to protrude downwards */
}
