{% extends "base.html" %}

{% load staticfiles %}

{% block menu_home %}active{% endblock%}

{% block content %}
<div class="jumbotron">
	<h1>Are you ready to break the barriers?</h1>
	<p class="lead">
		ProViNet provides an awesome interface that allows you to develop, deploy, and manage groundbreaking network services into Virtual Networks. Don't worry, our Cloud Provider friend has already provided flexibility, security, and scalability. There won't be bariers to hold your creativity. Go ahead and try it!
	</p>
	{% if not user.is_authenticated %}
	<a href="/accounts/" class="btn btn-large btn-success">Sign up today</a>
	{% else %}
	<a href="/projects/" class="btn btn-large btn-success">Go to Projects</a>
	{% endif %}
</div>

<hr>

<div class="row-fluid marketing">
	<div class="span6">

		<h4>Network Virtualization</h4>
		<p>
			Everything you must know to understand and program virtual networks. Isolation and flexibility are keywords in this topic. <a href="#">More...</a>
		</p>

		<h4>Cloud Computing</h4>
		<p>
			Enjoy the revolution of computer resources virtualization. Reduce capital cost, improve availability, globalize projects, minimize licencing new software, and delight customer satisfaction. <a href="#">More...</a>
		</p>
		
		<h4>Future Internet</h4>
		<p>
			This project is part of <a href="http://www.futureinternet.br/">Future Internet Brazilian Initiatives.</a> Did you know?. <a href="#">More...</a>
		</p>
	</div>

	<div class="span6">
		<h4>Software-Defined Networking</h4>
		<p>
			Find out what is behind ProViNet and be amazed. You can say goodbye to CLI, it won't scare you anymore. <a href="#">More...</a>
		</p>

		<h4>Released ProViNet <tt>beta</tt></h4>
		<p>
			With ProViNet <tt>beta</tt> there won't be virtual network limitations. Interacting with ProViNet you will be able to aggregate web services provided by SDN control plane technologies using an extreemly easy approach. Also, you can manage controllers for a high available control plane. <a href="#">More...</a>
		</p>
	</div>
</div>
{% endblock %}